.photos-card{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
}
.photos-card-wrapper{
    display:flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
}