*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  
}
.main-content{
    display: flex;
    justify-content: center;
    width: 100vw; 
    background-color: rgb(14, 14, 180);
    align-items: center;
    flex-wrap: wrap;
    height:100vh;


}
.singlePict-img > img{
    border-radius: 20px;

    max-width: 400px;
}
.title{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    width: fit-content;
    color: snow;
}
.title > h1{
    color: snow;
text-wrap: wrap;
}